/* Roboto Google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #FAFAFA;
}

.header {

    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 20%;
    width: 100%;
    padding: 20px 30px;
    margin-bottom: 40px;
}

.header .logo-box {

    margin-left: 30px;
}

.header .logo-box .logo {

    font-size: 30px;
    font-weight: 700;
    color: #2E77E9;
}

.header .navbar {

    flex-basis: 60%;
    height: 100%;
}

.header .navbar .nav-links {

    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    height: 100%;
    width: 100%;
    padding: 0 20px;
    gap: 15px;

}

.header .navbar .nav-links .nav-link {

    padding: 0 20px;
    cursor: pointer;
}


.header .navbar .nav-links .nav-link a {

    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
    cursor: pointer;
}

.header .navbar .nav-links .nav-link a:hover {

    color: #2E77E9;
}

.header .nav-search-box {

    flex-basis: 10%;
    margin-left: 15px;
    cursor: pointer;
    margin-right: 30px;
}

.header .nav-search-box img {

    height: 20px;
    width: 20px;
    background-size: cover;
}

.main {

    display: flex;
    flex-basis: 50%;
    align-items: center;
    justify-content: space-around;
    padding: 25px;
    height: 60%;
    gap: 20px;
}

.main .text-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: flex-start; */
    padding: 20px;
    padding-bottom: 30px;
    height: 100%;
    text-align: left;
}

.main .text-container .text-main {

    font-size: 60px;
    margin-bottom: 10px;
}

.main .text-container .text-sub {

    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;
}

.main .text-container .text-details {

    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.main .bth-button:link,
.bth-button:visited {

    display: inline-block;
    padding: 15px 20px 15px 30px;
    background-color: #2E77E9;
    text-decoration: none;
    border-radius: 4px;
    color: #FAFAFA;
    font-size: 12px;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: all linear 0.2s;

}

.main .bth-button:hover {

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.main .bth-button:active {

    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3);
    transform: translateY(0px);
}

.main .bth-button span {

    margin-right: 10px;
}